<!doctype html>
<html lang="en">
{% load static %}
<head> 
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Single Product </title>
    <style type="text/css">
        .img_clothes
        {
            float: left;
            width: 50%;
            display: flex;
            justify-content: center;
            /* align-items:center; */
            
        }
        .pos_cen
        {
            position: relative;
            width: 80%;
            left: 10%;
            top: 20%;  
        }
        .container{
          flex-direction: column;
          align-content: center;
        }
    </style>
</head>
  <body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
<a class="navbar-brand" href="#">Behance</a>
 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About Us</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="/dropdown" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          services
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">nimal</a>
          <a class="dropdown-item" href="#">niki</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">aura</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
    </ul>
    <!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->
  </div>
</nav>
<div class="pos_cen">
<img  class="img_clothes"  src="{% static 'hhhh.jpeg' %}" class="d-block w-50" alt="...">
<li class="text-center"><b>Price </b>:7890</li>
<li class="text-center"><b>Desc </b>:A great source for visual inspiration, including blank clothing design templates. </li>
</div>
<div class="container">
        <h1 dir="ltr">Select from our relevent  clothes</h1> 
        <div class="row">
          
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">             
                    <img src="{% static 'hh.jpg' %}" class="d-block w-100" alt="Product Image 1">
                    <div class="card-body">
                        <p class="card-text"><b>Dive into our latest collection and explore the trends defining this season. Your perfect fit awaits within this curated selection.</b></p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary"><b><a href="/singleProduct">View Product</a></b></button>
                            </div>
                            <small class="text-muted">*****</small>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img src="{% static 'hhhh.jpeg' %}" class="d-block w-100" alt="Product Image 2">
                    <div class="card-body">
                        <p class="card-text"><b>Discover how the right fabric and silhouette can completely transform your day. Explore the curated pieces designed to make you feel unstoppable.</b></p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary"><b><a href="/singleProduct">View Product</a></b></button>
                            </div>
                            <small class="text-muted">*****</small>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img src="{% static 'hh.jpg' %}" class="d-block w-100" alt="Product Image 3">
                    <div class="card-body">
                        <p class="card-text"><b>Discover how the right fabric and silhouette can completely transform your day. Explore the curated pieces designed to make you feel unstoppable.</b></p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary"><b><a href="/singleProduct">View Product</a></b></button>
                            </div>
                            <small class="text-muted">*****</small>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">   
                    <img src="{% static 'hh.jpg' %}" class="d-block w-100" alt="Product Image 4">
                    <div class="card-body">
                        <p class="card-text"><b>This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</b></p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary"><b><a href="/singleProduct">View Product</a></b></button>
                            </div>
                            <small class="text-muted">*****</small>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">                   
                    <img src="{% static 'hhhh.jpeg' %}" class="d-block w-100" alt="Product Image 5">
                    <div class="card-body">
                        <p class="card-text"><b>Dive into our latest collection and explore the trends defining this season. Your perfect fit awaits within this curated selection.</b></p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary"><b><a href="/singleProduct">View Product</a></b></button>
                            </div>
                            <small class="text-muted">*****</small>
                        </div>
                    </div>
                </div>
            </div>

        <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img src="{% static 'hh.jpg' %}" class="d-block w-100" alt="Product Image 5">
                    <div class="card-body">
                        <p class="card-text"><b>Dive into our latest collection and explore the trends defining this season. Your perfect fit awaits within this curated selection.</b></p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary"><b><a href="/singleProduct">View Product</a></b></button>
                            </div>
                            <small class="text-muted">*****</small>
                        </div>
                    </div>
                </div>
            </div>

          <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img src="{% static 'hh.jpg' %}" class="d-block w-100" alt="Product Image 5">
                    <div class="card-body">
                        <p class="card-text"><b>Dive into our latest collection and explore the trends defining this season. Your perfect fit awaits within this curated selection.</b></p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary"><b><a href="/singleProduct">View Product</a></b></button>
                            </div>
                            <small class="text-muted">*****</small>
                        </div>
                    </div>
                </div>
            </div>

          <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img src="{% static 'hhhh.jpeg' %}" class="d-block w-100" alt="Product Image 5">
                    <div class="card-body">
                        <p class="card-text"><b>Dive into our latest collection and explore the trends defining this season. Your perfect fit awaits within this curated selection.</b></p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary"><b><a href="/singleProduct">View Product</a></b></button>
                            </div>
                            <small class="text-muted">*****</small>
                        </div>
                    </div>
                </div>
            </div>

          <div class="col-md-4">
                <div class="card mb-4 shadow-sm">            
                    <img src="{% static 'hh.jpg' %}" class="d-block w-100" alt="Product Image 6">
                    <div class="card-body">
                        <p class="card-text"><b>Dive into our latest collection and explore the trends defining this season. Your perfect fit awaits within this curated selection.</b></p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary"><b><a href="/singleProduct">View Product</a></b></button>
                            </div>
                            <small class="text-muted">*****</small>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>
</html>